/*styles for webpage and linked pages*/
h1,h2{
    text-align: center; 
    font-family:'Arial' A;
    color: black
}

body{
    background-color: beige;
}

.navbar{
    overflow: hidden; 
    background-color:dimgrey;
    display: flex;
    justify-content: center;
    align-items:center;
}

.navbar a{
    float:left;
    display:block;
    color:white;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover{
    background-color:lightgrey ;
    color:black;
}

#mermaid{
    text-align: center;
    background-color:darkolivegreen
}

#leaflet{
    background-color:silver;
}

button{
    text-align:center;
}

