/*styles for webpage and linked pages*/
h1,h2{
    text-align: center; 
    color: black
}

body{
    background-color: beige;
    font-family: Helvetica
}

.navbar{
    overflow: hidden; 
    background-color:dimgrey;
    display: flex;
    justify-content: center;
    align-items:center;
}

.navbar a{
    float:left;
    display:block;
    color:white;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover{
    background-color:lightgrey ;
    color:black;
}

#mermaid{
    text-align: center;
    background-color:darkolivegreen
}

#morejq{
    background-color:thistle ;

}

#leaflet{
    background-color:silver;
}

button{
    text-align:center;
}

#JandA{
    background-color: darkslategrey;
}

#CandW{
    background-color:lightsalmon;
}

#form{
    text-align: center;
}

#loginForm{
    text-align: center;
}


#button{
    display: block;
    margin: 0 auto;
}

.imageStyle {
    display: flex;
    justify-content: space-between;
  }
  
  .imageStyle img {
    width: 200px; /* Set a fixed width for all images */
    height: 150px; 
    max-width: 100%;
    transition: transform 0.3s; /* Add a smooth transition effect */
  }
  
  .imageStyle img:hover {
    transform: scale(1.2); /* Increase the image size on hover */
  }

#colourSquare{/*css for colour chnaging square*/
    width: 150px;
    height: 150px;
    background-color: white;
    transition: background-color 0.5s;
}
#animatedSquare {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 213, 0);
    position: absolute;
    top: 50px;
    left: 50px;
  }

